/* frontend/src/app/app.component.css */

body {
    background-color: #e2a1a7; 
}

.event-title td {
font-weight: bold;
background-color: #e2a1a7;
text-align: center;
padding: 10px;
font-size: 16px;
color: #ffffff; /* White text color */
font-family: 'Verdana', sans-serif;
} 

/* ========================================================================================= 

td[rowspan] {
    font-weight: bold;
    vertical-align: middle;  
    background-color: #f8d7da;
  }
  
  */

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

.arbitrage-table {
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

th, td {
    text-align: left; 
    padding: 12px 15px;
    border-bottom: 1px solid #f8d7da;
}

th {
    background-color: #edb1b6; 
    color: #4d4d4d; 
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #e78c9d;
}

tr:nth-child(odd) {
    background-color: #ec6262; 
}

tr:hover {
    background-color: #47b6ea;
    cursor: pointer;
}

h1 {
    color: #ff4366;
    text-align: center;
}

p {
    text-align: center;
    color: #a34e4e;
}

.spacer {
    height: 10px;
    background-color: transparent;
    border: none;
}


/* 
table {
        width: 100%; 
        border-collapse: collapse; 
        margin-top: 20px; 
    }
    
    th, td {
        border: 1px solid #181818; 
        text-align: left; 
        padding: 8px; 
    }
    
    th {
        background-color: #8b8b8b; 
        color: #333; 
    }
    
    tr:nth-child(even) {
        background-color: #d3d3d3;
    }
    
    tr:hover {
        background-color: #755252; 
    }
*/